@model LoggedOutViewModel

@{ 
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}

<div class="logged-out-page">
    <h1>
        Kijelentkezve
    </h1>

    @if (Model.PostLogoutRedirectUri != null)
    {
        <div>
            Kattints <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">ide</a>, ha nem irányít vissza automatikusan az applikációba.
        </div>
    }

    @if (Model.SignOutIframeUrl != null)
    {
        <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
    }
</div>

@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}
